# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yaml

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (future-proof)
node_modules/

# Logs
*.log

# Anything not needed in the container
README.md
